{% extends 'page.html.twig' %}

{% block main %}
  <main class="mb-8 clearfix">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% block titlearea %}
    {% endblock %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {% if page.sidebar_left %}
            <div class="page__sidebar-left">
              {{ page.sidebar_left }}
            </div>
          {% endif %}
          {{ page.content }}
          {% if page.sidebar_right %}
            <div class="page__sidebar-right">
              {{ page.sidebar_right }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
