{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--id--' ~ paragraph.id(),
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% include '@d324theme/two_column_content/two_column_content.twig' with {
      col_1: content.field_google_map,
      col_2: content.field_description,
      direction: paragraph.field_direction.value,
    } %}
  </div>
{% endblock paragraph %}
