{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--id--' ~ paragraph.id(),
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  {% include '@d324theme/blockquote/blockquote.twig' with {
    quotation_text: content.field_text_content,
    attribution_name: paragraph.field_attribution_name.value,
    attribution_additional: paragraph.field_attribution_additional.value,
    alignment: paragraph.field_text_alignment.value,
    extra_classes: []
  } %}
  </div>
{% endblock paragraph %}
