{% extends "paragraph.html.twig" %}
{% block paragraph %}
  {% set extra_classes = [
    'jumbotron',
    'd-flex',
    'align-items-center',
    'text-white',
    'px-0',
  ] %}
  <div{{ attributes.addClass(extra_classes) }}>
    {% if content.field_hero_text %}
      <h1 class="text-white mx-lg-6 mx-md-4">{{ content.field_hero_text }}</h1>
    {% endif %}
    {% if paragraph.field_calls_to_actions %}
      <div class="calls-to-action row justify-content-center">
        {%- for item in paragraph.field_calls_to_actions -%}
          {% set link_attributes = create_attribute() %}
          {% set link_attributes = link_attributes.addClass('btn btn-primary shadow') %}
          {{ link(item.title, item.uri, link_attributes) }}
        {%- endfor -%}
      </div>
    {% endif %}
  </div>
  {{ attach_library('blazy/load') }}
{% endblock paragraph %}

