{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--id--' ~ paragraph.id(),
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% for key, item in content.field_columns if key|first != '#' %}
        <div class="mb-5 mb-md-0 col-md stripe-column-{{ key + 1 }} item{% if loop.first %} active{% endif %}">
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock paragraph %}
