{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--id--' ~ paragraph.id(),
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% for key, item in content.field_side_by_side_paragraphs if key|first != '#' %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
{% endblock paragraph %}
