{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--id--' ~ paragraph.id(),
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% for key, item in content.field_columns if key|first != '#' %}
        {% set column_attributes = create_attribute() %}
        {% set column_classes = [
          'col-md',
          'content-column-' ~ (key + 1),
          'd-flex',
          'flex-column',
          paragraph.field_column_alignment.value == 'center' ? 'justify-content-center',
          paragraph.field_column_alignment.value == 'top' ? 'justify-content-start',
          paragraph.field_column_alignment.value == 'bottom' ? 'justify-content-end'
        ] %}
        <div{{ column_attributes.addClass(column_classes) }}>
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock paragraph %}
