{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph--id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_spacing_size ? 'my-' ~ paragraph.field_spacing_size.value : ''
]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% if paragraph.field_include_horizontal_divider.value %}
            <hr/>
        {% endif %}
    </div>
{% endblock paragraph %}
