// DON'T UPDATE THIS FILE
// Instead, update the file d324theme.settings.yml and run "npm run dev" or "npm run production"
// This file is automatically regenerated each time "npm run dev" or equivalent build process is executed, so 
// DO NOT CHANGE THESE VARIABLES HERE... They'll be overwritten later.
// Change them inside of d324theme.settings.yml "npm run dev" or "npm run production".

$body-color: #333333;
$body-bg: #FCFCFC;
$link: #005696;
$heading: #555555;
$primary: #11689B;
$secondary: #FEC114;
$accent: #AEBED7;
$alternate-1: #175088;
$alternate-2: #F89406;
$danger: #DC3545;
$warning: #FEC114;
$info: #17A2B8;
$success: #28A745;
$dark: #111111;
$light: #F0F0F0;
$black: #000000;
$white: #FFFFFF;

$font-family-sans-serif: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-family-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-family-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-serif;

$grid-gutter-width: 1.875rem;

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

$d324-base-font-size: 1;
$d324-base-font-weight: normal;
$d324-base-line-height: 1.875;

$d324-h1-font-size: 3rem;
$d324-h1-font-weight: 700;
$d324-h1-line-height: 1.05;

$d324-h2-font-size: 2.25rem;
$d324-h2-font-weight: 700;
$d324-h2-line-height: 1.25;

$d324-h3-font-size: 1.75rem;
$d324-h3-font-weight: 700;
$d324-h3-line-height: 1.25;

$d324-h4-font-size: 1.5rem;
$d324-h4-font-weight: 700;
$d324-h4-line-height: 1.2222222;

$d324-h5-font-size: 1.25rem;
$d324-h5-font-weight: 700;
$d324-h5-line-height: 1;

$d324-h6-font-size: 1.125rem;
$d324-h6-font-weight: 700;
$d324-h6-line-height: 1;