{#
/**
 * @file
 * Template for a embedded_view component.
 *
 * Available config:
 * - date_month: string of the month
 * - date_day: string of the day
 */
#}
<div class="date-box bg-primary text-accent text-align-center p-4">
  <div class="date-month">{{ date_month }}</div>
  <div class="date-day">{{ date_day }}</div>
</div>
