// Styles for blocks provided by core and contrib modules

/** Off Canvas Tray **/

#drupal-off-canvas .media-library-widget-modal .media-library-item--grid,
#drupal-off-canvas .media-library-selection .media-library-item--grid {
  width: auto;
}

.ui-dialog-off-canvas #drupal-off-canvas {
  background: #444444;
}

/** Tour Tips **/

.joyride-tip-guide {
  z-index: 1051;
  background: rgba(0,0,0,1);
  margin-top: 15px;
}

.joyride-tip-guide h2 {
  font-size: 1.75rem;
}

/** Responsive Preview **/

.responsive-preview {
  z-index: 1020;
}
