{#
/**
 * @file
 * Template for a quotation component
 *
 * Available config:
 * - quotation_text: html
 * - attribution_name: string
 * - attribution_additional: string
 * - alignment: left|center|right
 * - extra_classes: array of strings
 */
#}
{% set css_classes = [
  'blockquote',
  'text-' ~ alignment,
] %}
<blockquote{{ attributes.addClass(css_classes).addClass(extra_classes) }}>
  {{ quotation_text }}
  {% if attribution_name or attribution_additional %}
  <footer class="blockquote-footer">
    {{ attribution_name }}
    {% if attribution_additional %}<span>{{ attribution_additional }}</span>{% endif %}
  </footer>
  {% endif %}
</blockquote>
