// Page: Content
// -----------------------------------------------------------------------------
.page__content {

}

.horizontal-tabs {
  position: static;
}

// Breakout Containers
// -----------------------------------------------------------------------------

.breakout-container {
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  width: 100vw;
}

body {
  overflow-x: hidden;

  &.breakout-fixed {
    overflow-x: auto;
  }
}

// Off Canvas Sidebar

.ui-dialog.ui-dialog-off-canvas {
  z-index: 1021;
}
