// Page: Content
// -----------------------------------------------------------------------------
.page__content {

}

.horizontal-tabs {
  position: static;
}

// Breakout Containers
// -----------------------------------------------------------------------------
.breakout-container {
  left: calc(-1 * (100vw - 100%) / 2);
  width: 100vw;
  position: relative;
}

body {
  overflow-x: hidden; // stupidly still needed since 100vw ignores scrollbars
}
