// Blog Post
// -----------------------------------------------------------------------------

.view-blog-categories .views-row a {
  display: block;
  padding: .75rem 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.blog-post--full .blog-post__field-image {
  margin-bottom: 2rem;
}
