// Landing Page
// -----------------------------------------------------------------------------

.field--name-field-landing-page-sections {
  > .field__item {
    margin: 6rem 0;
  }
  &:first-child > .field__item {
    margin-top: 0;
  }
}

.paragraph>.paragraph__column {
  padding: 0;
}
