.testimonial-card {
  background: $white;
  padding: 2rem 2.5rem;
  margin: 5rem 10rem;

  h6 {
    line-height: 1.875;
  }
}

.slick--view--testimonial-slider .slick-prev {
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-right: 12.5px solid $dark;
  border-radius: 0;
  background: none;
  margin-left: 4rem;
}

.slick--view--testimonial-slider .slick-next {
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 12.5px solid $dark;
  border-radius: 0;
  background: none;
  margin-right: 4rem;
}

.slick--view--testimonial-slider .slick-prev::before, .slick--view--testimonial-slider .slick-next::before {
  content: none;
}

.testimonial .testimonial__attribution-name {
  margin: .25rem;
}

.testimonial .testimonial__attribution-title {
  margin: 0;
  line-height: 1.15;
}

.grid .testimonial-card {
  margin: 0;
  height: 100%;
}

.view-testimonial-index .grid .col article {
  height: 100%;
}

.view-testimonial-index .grid .col {
  margin-bottom: 2rem;
}
