.jumbotron {
  position: relative;
  min-height: 25rem;
  text-align: center;
  background: none;

  .card-img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .85;
    transition: $transition-base;
  }

  &:hover .card-img {
    opacity: .75;
  }

  .card-img-overlay {
    position: relative;
  }

  .paragraph--type--jumbotron h1.text-white {
    font-size: 3rem;
    padding: 0 2rem;
  }

}
