.simple-block__field-media {

  @include media-breakpoint-only('xs') {
    max-width: 100%;
    width: 100%;
    margin: 0 0 2rem;
    float: none;
  }

}

.image-align-above, .image-align-below {
  img {
    width: 100%;
    box-shadow: $box-shadow;
    max-height: 20rem;
    object-fit: cover;
  }
}
