.simple-block__field-media {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 0;
  max-width: 40%;
  box-shadow: $box-shadow;

  @include media-breakpoint-only('xs') {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
}
