/** Geysir Customization **/

.geysir-field-paragraph-wrapper .geysir-field-paragraph-wrapper .geysir-field-paragraph-links li {
  bottom: 25%;
  top: auto;
  &.add-before,
  &.add-after {
    display: none;
  }
  .geysir-button {
    height: 1.875rem;
    width: 1.875rem;
  }
}

.geysir-field-paragraph-links {
  display: initial !important;
  pointer-events: none;
  .geysir-button {
    opacity: 0;
    transform: scale(.5);
    transition: all .35s ease;
  }
}

.geysir-field-paragraph-wrapper:hover > .geysir-field-paragraph-links {
  pointer-events: auto;
  .geysir-button {
    opacity: .85;
    transform: scale(1);
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.geysir-add-type {
  align-items: center;
  margin: 1rem 0;
  position: relative;

  input.image-button, input.image-button:focus {
    background: none !important;
    border: none;
    margin-right: 1em !important;
    object-fit: contain;
    object-position: 0 bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover + span {
      background: #ddd !important;
    }
  }

  span {
    background: #eee !important;
    color: #000 !important;
    display: block;
    position: relative;
    margin-left: 3rem !important;
    padding: .5rem .75rem !important;
    font-size: 14px !important;
    pointer-events: none;
  }
}
